In [1]:
import pandas as pd
import numpy as np

In [2]:
df= pd.read_excel("../../../../Platzi_Data_Scientist/PowerBI/Proyecto_Macro/Crecimiento_PIB_Percapita.xls")

In [15]:
df.head()

2,Country Name,Country Code,Indicator Name,Indicator Code,1960.0,1961.0,1962.0,1963.0,1964.0,1965.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,2021.0,2022.0
3,Aruba,ABW,Crecimiento del PIB per cápita (% anual),NY.GDP.PCAP.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,5.635318,-0.709567,2.885166,1.515938,4.917139,4.738330,0.181216,-18.698324,17.225300,NaN
4,NaN,AFE,Crecimiento del PIB per cápita (% anual),NY.GDP.PCAP.KD.ZG,NaN,-2.342974,5.093992,2.330796,1.724021,2.436215,...,1.400457,1.186759,0.166840,-0.490259,-0.105886,-0.169822,-0.587557,-5.421662,1.683557,0.842507
5,Afganistán,AFG,Crecimiento del PIB per cápita (% anual),NY.GDP.PCAP.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,2.002522,-0.964803,-1.666416,-0.345802,-0.253594,-1.688577,0.932833,-5.364666,-22.929194,NaN
6,NaN,AFW,Crecimiento del PIB per cápita (% anual),NY.GDP.PCAP.KD.ZG,NaN,-0.255511,1.592942,4.978710,3.130231,1.798761,...,3.257923,3.093635,0.026016,-2.519274,-0.382691,0.140162,0.563580,-3.453124,1.372160,1.192668
7,Angola,AGO,Crecimiento del PIB per cápita (% anual),NY.GDP.PCAP.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,1.106331,1.030729,-2.642975,-6.011891,-3.630695,-4.676670,-4.017114,-8.672432,-1.954598,-0.096755

In [8]:
df.shape

(269, 67)

In [14]:
#df = df.iloc[2:]
df = df.iloc[1:]

In [12]:
df.columns = df.iloc[0]

In [16]:



# Melt para convertir las columnas de años en filas
df_melted = pd.melt(df, id_vars=df.columns[:5], var_name='Año', value_name='Valor')

# Eliminar las filas con NaN en la columna 'Valor'
df_melted = df_melted.dropna(subset=['Valor'])

# Guardar el nuevo DataFrame
#df_melted.to_csv('nuevo_archivo_organizado.csv', index=False)

In [24]:
"""df_melted= df_melted.drop(1960.0, axis=  1)
df_melted= df_melted.drop("Indicator Code", axis=  1)"""
df_melted= df_melted.drop("Indicator Name", axis=  1)

In [27]:
df_melted= df_melted.rename(columns={"Valor":"Crecimiento del PIB per cápita (% anual)"})

In [28]:
df_melted.head()

   Country Name Country Code     Año  Crecimiento del PIB per cápita (% anual)
1           NaN          AFE  1961.0                                 -2.342974
3           NaN          AFW  1961.0                                 -0.255511
9     Argentina          ARG  1961.0                                  3.740903
13    Australia          AUS  1961.0                                  0.463671
14      Austria          AUT  1961.0                                  4.960717

In [31]:
df_melted.to_csv("../../../../Platzi_Data_Scientist/PowerBI/Proyecto_Macro/Crecimiento_PIB_Percapita_clean.csv", index=False)

In [38]:
df_melted.describe().T

,count,mean,std,min,25%,50%,75%,max
Crecimiento del PIB per cápita (% anual),12730.0,1.95934,5.694775,-64.425841,-0.149902,2.131587,4.342585,140.480042

In [40]:
conteo = df_melted.value_counts()
conteo

Country Name                                        Country Code  Año     Crecimiento del PIB per cápita (% anual)
 Ingreso mediano                                    MIC           1961.0  -0.229112                                   1
Oriente Medio y Norte de África (BIRF y la AIF)     TMN           1970.0   5.934241                                   1
                                                                  1972.0   10.548656                                  1
                                                                  1973.0   2.903553                                   1
                                                                  1974.0   3.526341                                   1
                                                                                                                     ..
Fiji                                                FJI           1970.0   10.421034                                  1
                                                                  1971.0   4.829486                                   1
                                                                  1972.0   5.539659                                   1
                                                                  1973.0   9.744923                                   1
África al sur del Sahara (excluido altos ingresos)  SSA           2022.0   0.997398                                   1
Length: 12606, dtype: int64

In [33]:

# Crear un DataFrame de ejemplo
data = {'fruta': ['manzana', 'naranja', 'manzana', 'plátano', 'naranja', 'manzana']}
df = pd.DataFrame(data)

# Utilizar value_counts para contar la frecuencia de cada valor único en la columna 'fruta'
conteo_frutas = df['fruta'].value_counts()

print(conteo_frutas)

manzana    3
naranja    2
plátano    1
Name: fruta, dtype: int64